#header 
{
    background: url(../static/img/logo.jpg) no-repeat left top;
    height: 115px;
    margin: 0px;
    padding:0px;
}

.container 
{
    margin: 0px;
    padding:0px;
    position: relative;
    background: #000;
}

#study_info
{
    position: absolute;
    text-align: right;
    top: 85px;
    right: 10px;
    width: 100%;
    color: #ccc;
    text-decoration: none;
    font: 15px normal Arial, Helvetica, sans-serif;
}
